<p>
  <ul>
    <li> <%= comment.content %> </li>
    <li> <%= link_to comment.user.user_name, user_path(comment.user.id)  %> </li>
</p>

<% if comment.user == current_user %>
  <%= link_to "Delete", comment_path(comment), data: {
                    turbo_method: :delete
                  } %>
<% end %>
</ul>