 <%= form_with(model: [post, comment]) do |form| %>
   <%= form.hidden_field :post_id%>

   <%= form.text_area :content, placeholder: "Enter Comment"%>

   <div class="actions">
    <%= form.submit %>
   </div>
  <% end %>