<% @requests.each do |request| %>
	<li><%= link_to "#{request.follower.email}", user_path(request.follower.id) %> </li>
	<%= turbo_frame_tag "requests" do %>
		<%= button_to "Accept Request", follow_path({follow: {following: current_user.id, follower: request.follower.id}, id: user.id}), method: :patch %>
		<%= button_to "Decline Request", follow_path({follow: {following: current_user.id, follower: request.follower.id}, id: user.id}), method: :delete %>
	<% end %>
<% end %> 