
<h3> Profile for <%= @user.email%> </h3>


<div id="follow-form">
	<%= form_for @user do |f| %>
		<div id="follow-input"> <%=hidden_field_tag @user.id%> </div>
	  <%= f.button "Follow"%>
	<% end %>
</div>

